.peopleAmountForm {
    display:flex;
    align-items: center;
}

.peopleInputWrapper {
    display:flex;
    align-items:center;
    padding-bottom:10px;
    margin-left:10px;
}

.peopleInput {
    width:70px;
}